*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{

	font-family: 'Pacifico', cursive;
	background-color: #eee;
}
.main{
	background-color:black;
	display: flex;
	width: 95%;
	margin: auto;
	box-shadow: 0 0 30px 10px black;
	flex-wrap: wrap;
}
.item{
	height: 400px;
	width: 678px;
	background-color: blue;
	margin: 10px;
	background-position: center;
	background-size: cover;
	transition: 1s;
}
.heading{
	font-size: 50px;
	color: blue;
	text-align: center;
	width: 100%;
	margin: 30px;
}
.item:hover{
    opacity: 0.5;
    transform: scale(1.1);
    transform: rotate(3deg) scale(1.1)
    filter:blur(15px);
    filter: hue-rotate(900deg);
}